commonrpc-tcp/src/main/resources/META-INF/commonrpc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://www.izhuan365.com/commonrpc"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:element name="application">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="address" type="xsd:string" use="required"/>
                    <xsd:attribute name="timeout" type="xsd:string" use="required"/>
                    <xsd:attribute name="providerFlag" type="xsd:boolean" use="required"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="service">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="ref" type="xsd:string"/>
                    <xsd:attribute name="class" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation source="java:java.lang.Class"><![CDATA[
	The fully qualified name of the bean's class, except if it serves only
	as a parent definition for child bean definitions.
				]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="filterRef" type="xsd:string"/>
                    <xsd:attribute name="codecType" type="xsd:string"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="registry">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="ip" type="xsd:string" use="optional"/>
                    <xsd:attribute name="port" type="xsd:string" use="required"/>
                    <xsd:attribute name="timeout" type="xsd:string" use="required"/>
                    <xsd:attribute name="procotolType" type="xsd:string" default="1"/>
                    <xsd:attribute name="codecType" type="xsd:string" use="required"/>
                    <xsd:attribute name="threadCount" type="xsd:string" use="required"/>
                    <xsd:attribute name="group" type="xsd:string" use="required"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="reference">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="interface" type="xsd:string" use="required"/>
                    <xsd:attribute name="group" type="xsd:string" use="required"/>
                    <xsd:attribute name="procotolType" type="xsd:string" default="1"/>
                    <xsd:attribute name="codecType" type="xsd:string" default="4"/>
                    <xsd:attribute name="timeout" type="xsd:string" default="10000"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>